{% extends "basic_app/base.html" %}
{% load static %}
{% block body-block %}
  <div class="div16">
    <p class="about">ABOUT THE PARTNERS</p>
    <h1 class="best">Elevated by Nothing But The Best</h1>
    <p class="para18">
      A leading real estate player in India, Conscient has so far delivered over 11,000 homes across Delhi-NCR, Dehradun & Goa in the last 4 decades. Based in USA, Hines is a privately-owned global real estate investment, development and management firm, founded in 1957, with a presence in 214 cities across 24 countries and $120.6 billion of assets under management.
      <br>
      <br>
      Tata Projects, renowned as India’s fastest growing and most admired infrastructure company, has rich expertise in executing complex urban construction projects.
      <br>
      <br>
      The two industry stalwarts, Hines and Conscient, with Tata Projects appointed as a construction partner, have together joined hands to create their first residential landmark in India and raise the bar of Gurugram’s lifestyle with Elevate.
    </p>
  </div>

  <div class="div17">

    <div class="div18">
      <p>DEVELOPER</p>
    </div>

    <div class="div21">
      <p class="para19">ACCENT</p>
      <p class="para20">Buidtech Pvt Ltd.</p>
    </div>

    <div class="div19">
      <p>INVESTMENT MANAGER</p>
      <img src="{% static 'images/hines.png' %}" alt="">
    </div>

    <div class="div20">
      <p>INVESTMENT MANAGER</p>
      <img src="{% static 'images/tata.png' %}" alt="">
    </div>
  </div>
{% endblock %}
