{% extends "basic_app/base.html" %}
{% load static %}
{% block body-block %}
  <div class="div9">
    <img src="{% static 'images/amen.png' %}" alt="">
  </div>

  <div class="div10">
    <p class="para12">AMENITIES</p>
    <h1 class="elevate">Upgrade To A Peaceful Lifestyle</h1>
    <p class="para13">
      Luxury is what luxury can do for you. Our premium amenities lets you enjoy the opulence while appreciating their functional importance in our grand design.
    </p>
  </div>

  <div class="div11">
    <p>Explore Amenities</p>
  </div>

{% endblock %}
