{% extends "basic_app/base.html" %}
{% load static %}
{% block body-block %}

<div class="front">
  <img src="{% static 'images/home.png' %}" alt="">

  <div class="front1">
    <p class="para1">WORLD-CLASS 3 & 4 BED RESIDENCES FROM RS. 2.42 CR.*</p>
    <p class="para2">BHivadi Haryana</p>
    <p class="para3">View Location</p>

      <div class="front2">
        <p class="para4">Know More</p>
      </div>

      <div class="front3">
        <p class="para5">DEVELOPER</p>
      </div>

      <div class="front4">
        <p class="para6">ACCENT</p>
        <p class="para7">Buidtech Pvt Ltd.</p>
      </div>

    <p class="para8">HRERA 19 OF 2019. A PROJECT BY HERITAGE MAX REALTECH PVT. LTD.</p>
  </div>
</div>

{% endblock %}
