{% extends "basic_app/base.html" %}
{% load static %}
{% block body-block %}
  <div class="div2">
    <p class="loca">LOCATION</p>
    <h1 class="location">Strategic Location That Uplifts You</h1>
    <p class="para11">
      Located off the Golf Course Extension Road, sans traffic and dust, with direct connectivity from both Delhi and Gurugram, Elevate enjoys lush views of the Aravallis in a premium upscale neighbourhood.
    </p>
  </div>

  <div class="div3">
    <p><img src="{% static 'images/maplogo.png' %}" alt=""> VIEW GOOGLE MAP</p>
  </div>

  <div class="div4">
    <img src="{% static 'images/map.png' %}" alt="">
  </div>

  <div class="div5">
    <img src="{% static 'images/school.png' %}" alt="">
    <p>SCHOOLS</p>
    <ul>
      <li>Heritage School - 5 mins</li>
      <li>DPS International School - 5 min</li>
      <li>Heritage School - 5 mins</li>
    </ul>
  </div>

  <div class="div6">
    <img src="{% static 'images/connectivity.png' %}" alt="">
    <p>CONNECTIVITY</p>
    <ul>
      <li>Heritage School - 5 mins</li>
      <li>DPS International School - 5 min</li>
      <li>Heritage School - 5 mins</li>
    </ul>
  </div>

  <div class="div7">
    <img src="{% static 'images/office.png' %}" alt="">
    <p>OFFICES</p>
    <ul>
      <li>Heritage School - 5 mins</li>
      <li>DPS International School - 5 min</li>
      <li>Heritage School - 5 mins</li>
    </ul>
  </div>

  <div class="div8">
    <img src="{% static 'images/hospital.png' %}" alt="">
    <p>MEDICAL FACILITIES</p>
    <ul>
      <li>Heritage School - 5 mins</li>
      <li>DPS International School - 5 min</li>
      <li>Heritage School - 5 mins</li>
    </ul>
  </div>
{% endblock %}
