{% extends "basic_app/base.html" %}
{% load static %}
{% block body-block %}
    <div class="over1">
      <p class="over">OVERVIEW</p>
      <h1 class="build">Built By The Best</h1>
      <p class="para9">
        Elevate is the brainchild of two industry stalwarts - pan-India developer, Conscient and global giant, Hines. Teaming up with this formidable duo, Tata Projects now joins them as a construction partner. This oasis of serenity has been perfected with masterful strokes from Ricardo, an internationally renowned Spanish architecture firm.<br>
        <br>
        <br>
        These landmark residences bring to you an elevated living experience with a balance of world-class architecture, engineering excellence and construction expertise, delivered only by the best in the industry.
      </p>
    </div>

    <div class="over2">
      <img src="{% static 'images/overview1.png' %}" alt="" class="img1">
    </div>

    <div class="over3">
      <img src="{% static 'images/overview2.png' %}" alt="" class="img2">

    </div>
    <div class="over4">
      <h2 class="head">FINEST FOR FINESTS</h2>
      <p class="para10">
        Elevate is the brainchild of two industry stalwarts - pan-India developer, Conscient and global giant, Hines. Teaming up with this formidable duo, Tata Projects now joins them as a construction part
      </p>
    </div>
{% endblock %}
