{% extends "basic_app/base.html" %}
{% load static %}
{% block body-block %}
  <div class="div12">
    <p class="para14">Specifications</p>
    <h1 class="feel">Feel Inspired By Aesthetic Interiors</h1>
  </div>

  <div class="div13">
    <p class="para15">
      Located off the Golf Course Extension Road, sans traffic and dust, with direct connectivity from both Delhi and Gurugram, Elevate enjoys lush views of the Aravallis in a premium upscale neighbourhood.
    </p>
  </div>

  <div class="div14">
    <img src="{% static 'images/spes.png' %}" alt="">
  </div>

  <div class="div15">
    <p class="para16">Master bed room / dress room</p>
    <p class="para17">
      1.Floor <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit <br><br>
      2.Wall <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit <br><br>
      3.Cieling <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit <br><br>
    </p>
  </div>


{% endblock %}
